body{
    display: grid;
    place-items: center;
    background-color: rgb(0, 23, 34);
}
#canvas {
    background-color: rgb(10, 31, 0);
}
.points{
    display: flex;
    align-items: baseline;
    color: crimson;
    text-shadow: 1px 1px darkblue;
    text-transform: uppercase;
}
